/* CategoryList.css */

.category-list-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
    width: 100%;
    padding: 20px;
}

.category-list {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.category-card {
    min-width: 200px;
    margin-right: 20px;
    flex-shrink: 0;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-arrow.left {
    left: 0;
}

.carousel-arrow.right {
    right: 0;
}
