/* CategoryList.css */

.category-list-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
    width: 100vw; /* Limit width to viewport width */
}

.category-list {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.category-card {
    width: 200px; /* Fixed width for consistent card size */
    height: 200px; /* Fixed height for consistent card shape */

    
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-33%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-arrow.left {
    left: 10px; /* Adjust positioning as needed */
}

.carousel-arrow.right {
    right: 10px; /* Adjust positioning as needed */
}
