/* FrontPage.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

body{
    width: 100vw;

}
h3{
    left:0%
}

