/* FrontPage.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* This aligns items (h2 elements) to the start of the container */
    height: auto;
}

body {
    width: 100vw;
}

h2 {
    margin: 0; /* Ensures there is no default margin interfering */
    align-self: flex-start; /* This makes sure each h2 aligns to the start of its container */
    
}

