/* ItemList.css */
.item-list-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
    width: 90vw; /* Limit width to viewport width */
}

.item-list {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.listing-card {
    width: 200px; /* Fixed width for consistent card size */
    height: 200px; /* Fixed height for consistent card shape */
    margin-right: 20px; /* Space between cards */
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-arrow.left {
    left: 10px; /* Adjust positioning as needed */
}

.carousel-arrow.right {
    right: 10px; /* Adjust positioning as needed */
}
