.listing-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.price {
    background-color: rgb(102, 184, 100);
    color: #fff;
    width: 50%;
    justify-self: center;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px auto;
}

p {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.0em;
    font-weight: bold;
    justify-self: center;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

.listing-photo-column {
    border: 1px solid black;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing-info-column {
    border: 1px solid black;
    width: 50vw;
}

.listing-header {
    width: 90vw;
}

.listing-header button {
    width: 50px;
    height: 50px;
    margin-left: auto; 
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the image is contained within the box */
}

.custom-slider {
    position: relative;
    width: 40vw;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-slider .prev,
.custom-slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.custom-slider .prev {
    left: 10px;
}

.custom-slider .next {
    right: 10px;
}

.custom-slider .slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.custom-slider .slider-image {
    max-width: 100%;
    width: 40vw;
    height: auto;
    object-fit: contain; /* Ensure the image is contained within the box */
    display: block;
}
