.listings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 0 20px;
    box-sizing: border-box;
}

.listing {
    border: 1px solid black;
    padding: 10px; 
    background-color: rgb(222, 236, 248);
}

.listing:hover {
    background-color: rgb(188, 224, 255);
}