/* Navigation Bar Container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.top_bar {
    width: 100%;
    background-color: #faefef; /* Background color of the navbar */
    color: #000000; /* Text color */
    padding: 10px 10px 10px 20px; /* Adjust padding for better spacing */
    box-shadow: 0 4px 2px -2px gray;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh; 
}

ul{
    border-color: aliceblue;
}

.bottom_bar {
    width: 100%;
    background-color: #faefef; /* Background color of the navbar */
    color: #000000; /* Text color */
    padding: 10px 20px; /* Adjust padding for better spacing */
    box-shadow: 0 4px 2px -2px gray;
    z-index: 1000;
    box-sizing: border-box; /* Include padding in total width/height */
    /* Set a fixed height to ensure consistent spacing */
    height: 5vh; 
    display: flex;
    align-items: center;
}


/* Navigation Links */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: baseline;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #000000; /* Change link color to match text color */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Add transition for hover effects */
}

.navbar a:hover {
    color: #860000; /* Slightly darker color on hover */
    text-decoration: underline;
}

.search {
    box-shadow: #ac5656;
    padding: 0px 5px 5px 5px;
    width: 50%;
}

.search_input{
    width: 100%
}


/* Adjust content margin to prevent overlap */
.app-container {
    margin-top: 60px; /* Adjust to the height of the navbar */
}
