.update-profile-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label{
    padding-top: 5%;
    padding-bottom: 5%;
}