

.create-listing-header {
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}

.create-listing-container {
    background: #fff;
    box-sizing: border-box;
    display:flex;
    padding: 20px;
}

.create-listing-footer {
    display: flex;
    background-color: #fff;
    justify-content: center;
    margin-top: 20px;
}

.create-listing-footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

.create-listing-footer button:hover {
    background-color: #0056b3;
}
