.chat-container {
    display: flex;
    width: 80vw; 
    min-height: 50vh;
    ;
}

.message-header {
    width: 100%;
    display: flex;
    align-items: baseline;
    color: #fff;
    background-color: rgb(50, 117, 49);
}
.message-header p{
    font-size: 1.5em;
    font-weight: 700;
}
.message-box {
    flex: 1;
    background-color: rgb(204, 255, 203);;
    display: flex;
    flex-direction: column;
}
.messages {
    display: flex;
    flex-direction: column;
}

.message {
    color:#000000;
    font-size: larger;
    padding: 8px;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.message-box .message.sent {
    background-color: #aae290;
    padding-right:4%;
    align-self: flex-end;
}

.message-box .message.received {
    background-color: #ffffff;
    padding-right:4%;
    align-self: flex-start;
}

.message-box input {
    border: 1px solid #ddd;
    padding: 8px;
    width: 60%;
    border-radius: 4px;
    
    align-self: flex-end;
    justify-self: flex-end;
}

.message-box button {
    border: none;
    background-color: #57c011;
    color: white;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5vw;
}