/* Dropdown.css */
.dropdown {
    position: relative;
}

.dropdown-button {
    border: none;
    padding: 10px;
    background-color: #e4fce1;
    font-weight: 600;
    font-size: medium;    
}

.dropdown-menu {
    display: none; /* Initially hidden */
    max-width: 60vw; 
    position: absolute;
    background-color: #e4fce1;
    z-index: 1;
    border:1px solid rgb(0, 0, 0);
    padding: 10px; 
}

.dropdown:hover .dropdown-menu {
    display: flex; /* Show the dropdown menu on hover */
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    width: 100%; /* Take the full width of the dropdown menu */
}

.dropdown-menu li {
    padding: 10px;
    border:none;
    min-width: 100px; /* Minimum width for each item */
    max-width: calc(100% - 20px); /* Ensure each item does not exceed the menu width */
    box-sizing: border-box;
}

.dropdown-menu li a {
    color: black;
}

.dropdown-menu li:hover {
    background-color: #bfe9be; /* Background color on hover */
}
