.grid-container{
    margin: 0 auto;
}
.item-list-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    background-color: #f8ebe6;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 60px;  
    z-index: 500;
}


