
.listing-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    border: 0.5vh solid black;
    border-radius: 1%;
}

.price {
    background-color: rgb(50, 117, 49);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(190, 26, 26, 0.2);
    font-size: 2em;
    font-weight: bold;
    margin: 0; /* Reset any default margin */
}

.listing-info-column {
    width: 50vw;
    display: flex;
    flex-direction: column;   
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background-color: #e4fce1;
}

.listing-info-column-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    grid-template-rows: repeat(3, 1fr); /* Create 3 rows */
    gap: 5px; 
    width: 100%; 
    margin-top: auto; 
    padding: 10px; 
    box-sizing: border-box;
}

.listing-info-column-footer p {
    background-color: rgb(50, 117, 49); 
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
}

.listing-photo-column {
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #e4fce1;
    align-items: center;
}

.listing-header {
    width: 90vw;
}

.listing-header button {
    width: 50px;
    height: 50px;
    margin-left: auto; 
}

.listing-actions{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.listing-actions button{
    background-color: rgb(50, 117, 49); 
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-box img {
    max-width: 50vw;
    max-height: 50vh;
    object-fit: contain;
}

.custom-slider {
    position: relative;
    width: 40vw;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-slider .prev,
.custom-slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.custom-slider .prev {
    left: 10px;
}

.custom-slider .next {
    right: 10px;
}

.custom-slider .slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.custom-slider .slider-image {
    max-width: 100%;
    width: 40vw;
    height: auto;
    object-fit: contain;
    display: block;
}
