@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); /* Import a custom font */

.logo {
    font-family: 'Poppins', sans-serif; /* Apply custom font */
    font-size: 1.5em; /* Adjust the size */
    font-weight: 500; /* Ensure it's bold */
    background: linear-gradient(135deg, #050505 0%, #6ba052 100%); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text itself transparent */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    background-color: #e4fce1;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar ul {    
    margin: 0;
    padding: 0;
    align-items: baseline;
    display: flex;
    list-style-type: none;
}

.navbar a {
    color: #000000; /* Change link color to match text color */
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Add transition for hover effects */
}

.navbar a:hover {
    text-decoration: underline;
}

.top_bar {
    width: 100%;
}

.top_bar li {
    margin: 0 20px;    
}

.bottom_bar {
    display: flex;    
    align-items: center;
    border: 1px solid #0d0f0d;
    width: 100%;
    z-index: 1000; 

}
.bottom_bar li{
    border: 1px solid #0d0f0d;
    margin-right: 1px;
    min-width:10%;
    max-width:30%;
}

.search {
    min-width: 20%;
    max-width: 50%;
}

.search_input{
    width: 100%
}

.app-container {
    margin-top: 20vh; 
}
