.search {
    position: relative;
    width:33%;
    z-index: 1200;
}

.search_input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
}

.search-results {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    margin-top: 2px; /* Space between input and results */
    z-index: 1000;
    box-sizing: border-box; /* Include padding and border in width and height */
    
}

.search-results ul {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top:5px;
    margin-bottom:5px;
    box-sizing: border-box; /* Include padding and border in width */
    display: flex;
    flex-direction: column;
    
}

.search-results li img {
    height:50px;
    width: 50px;
}

.search-results li {
    height:20%;
    width: 100%; 
    border-top: 1px solid #ccc; /* Border between items */
    border-bottom: 1px solid #ccc; /* Border between items */
    margin: 0px auto;
    box-sizing: border-box; /* Include padding and border in width */
}

.search-results li a {
    display: block;
    text-decoration: none;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.search-results li a:hover {
    color: #007BFF;
}
