.search {
    position: relative;
    width: 33%;
    z-index: 1200;
}

.search_input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
}

.search-results {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    margin-top: 2px; /* Space between input and results */
    z-index: 1000;
    box-sizing: border-box; /* Include padding and border in width and height */
    overflow-y: auto; /* Enable scrolling for overflow */
}

.results-list {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width */
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    width: 100%;
    border-top: 1px solid #ccc; /* Border between items */
    border-bottom: 1px solid #ccc; /* Border between items */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.result-link {
    display: flex;
    align-items: center;
    width: 100%; /* Make the link fill the width of the result */
    padding: 8px;
    text-decoration: none;
    color: inherit;
    height: 60px; /* Set a fixed height for the link */
    box-sizing: border-box; /* Include padding and border in the height */
}

.result img {
    height: 100%; /* Make the image take up the full height of the link */
    width: auto;
    margin-right: 10px; /* Space between image and text */
    object-fit: cover;
}

.result p {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Handle text overflow with ellipsis */
    flex-grow: 1; /* Ensure the text takes up the remaining space */
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.search-results li a:hover {
    color: #007BFF;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}