.search {
    position: relative;
    width: 300px;
    z-index: 1200;
}

.search_input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-results {
    position: absolute;
    max-width: 50vw;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    margin-top: 2px; /* Space between input and results */
    z-index: 1000;
    box-sizing: border-box; /* Include padding and border in width and height */
    
}

.search-results ul {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top:5px;
    margin-bottom:5px;
    box-sizing: border-box; /* Include padding and border in width */
    display: flex;
    flex-direction: column;
    
}

.search-results li img {
    height: 50px;
    width: 50px;
}

.search-results li {
    
    width: 100%; /* Ensure full width of the container */

    border-bottom: 1px solid #ccc; /* Border between items */
    padding: 8px; /* Padding inside each list item */
    margin: 0px auto;
    box-sizing: border-box; /* Include padding and border in width */
}

.search-results li a {
    display: block;
    font-size: small;
    width: 100%; /* Full width of the list item */
    color: #333;
    text-decoration: none;
    padding: 8px; /* Padding inside the link */
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.search-results li a:hover {
    color: #007BFF;
}
