.custom-slider {
    position: relative;
    width: 40vw;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-slider .prev,
.custom-slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(17, 197, 77, 0.75);
    color: white;
    border: none;
    padding: 15px;
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    z-index: 1;
}

.custom-slider .prev {
    left: 0px;
}

.custom-slider .next {
    right: 0px;
}

.custom-slider .slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.custom-slider .slider-image {
    max-width: 100%;
    width: 40vw;
    height: auto;
    object-fit: contain;
    display: block;
}
.image-preview{
    height:100%;
    width: 100%;
}