#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.app-container {
  display: flex;
}

.content {
  margin-top: 60px; /* Adjust based on the height of your navbar */
  padding: 1rem;
}
